<section>
  {{ 'section-main-product-2.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- assign product_form_id = 'product-form-' | append: section.id -%}

  <div class="container">
    <div class="product-main row">
      <div class="product-gallery">
        <div class="preview">
          <div class="thumb">
            {% for image in product.images %}
            <img class="" src="{{ image | img_url: 'master' }}">
            {% endfor %}
          </div>
        </div>
        <div class="slider product-img">
          {% for image in product.images %}
          <img class="" src="{{ image | img_url: 'master' }}">
          {% endfor %}
        </div>
      </div>
      <div>
        <h1 class="product-name">{{ product.title }}</h1>
        <div class="price">
          <div class="current">{{ product.price | money }}</div>
          <div class="old">{{ product.compare_at_price | money }}</div>
          <div class="promo-tag">SALE</div>
        </div>
        <div class="rating">
          <img src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/Frame_2.png?v=1657156867" alt="">
          <span class="reviews">(2,183)</span>
        </div>
        <div class="product-form-wrap">
          
          <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              {%- for option in product.options_with_values -%}
                  <fieldset class="js product-form__input">
                    <legend class="form__label">{{ option.name }}: <span class="option">{{ option.selected_value }}</span></legend>
                    {%- for value in option.values -%}
                      <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="{{ product_form_id }}"
                            {% if option.selected_value == value %}checked{% endif %}
                      >
                        {% assign variant_needed = null %}
                        {% for variant in product.variants %}
                        {% if variant.options contains value %}
                        {% assign variant_needed = variant %}
                        {% endif %}
                        {% endfor %}
                        {% if variant_needed.metafields.color.swatch and option.name == "Color" %}
                        <label class="color-swatch" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}" style="background-color: {{variant_needed.metafields.color.swatch}}">
                        &nbsp
                        </label>
                        {% elsif variant_needed.metafields.image.swatch and option.name == "Color" %}
                        <label class="color-swatch" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}" style="background-size: cover; background-image: url('{{variant_needed.metafields.image.swatch}}')">
                        &nbsp
                        </label>
                        {% else %}
                        <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                        {{ value }}
                        </label>
                        {% endif %}
                    {%- endfor -%}
                  </fieldset>
              {%- endfor -%}
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </variant-radios>
          
            <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>

              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>

          <div {{ block.shopify_attributes }}>
            <product-form class="product-form">
              {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
              <div class="b-get-btn">
                <button type="submit" name="add"
                  {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                  <span>ADD TO CART</span>
                  <div class="loading-overlay__spinner hidden">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>

              </div>
              {%- endform -%}
            </product-form>
          </div>
          <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          
        </div>
      </div>
    </div>
  </div>
</section>

